<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'prints' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'prints' %}?sort=rating&direction=asc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'prints' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'prints' %}" class="dropdown-item">All Prints</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'prints' %}?category=motorsport" class="dropdown-item">Motorsport</a>
                <a href="{% url 'prints' %}?category=poeple" class="dropdown-item ">Poeple</a>
                <a href="{% url 'prints' %}?category=bikes" class="dropdown-item ">Bikes</a>
                <a href="{% url 'prints' %}" class="dropdown-item">All Prints</a>
            </div>
        </li>
    </ul>
</div>